.App { text-align: center; }
.header { font-weight: bold; background-color: #f90 }
.divx { width: 49%; height: 20px; position:relative; }
.divx div, .item { width: 33%; float: left; height: auto; border: solid 1px #ccc; }
